* {
	font-family: 'Roboto', sans-serif;
}
p {
	color: #333333;
	font-size: 18px;
	line-height: 27px;
}
a:hover,
a:focus {
	text-decoration: none !important;
	color: #FCFCFC !important;
}

header {
	background: linear-gradient(180deg, rgba(255, 140, 140, 0.5) -50%, rgba(255, 255, 255, 0) 80%);
	height: 30px;
}
.menu-icon {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10000;
	width: 70px;
	cursor: pointer;
}
.menu {
	background: #FF8C8C;
	width: 100%;
	z-index: 1000;
	position: fixed;
	padding: 0px;
	transition: opacity 0.4s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.menu-open {
	opacity: 1;
    height: 100vh;
    padding: 20px;
}
.menu ul {
	list-style: none;
	padding: 0px;
}
.menu ul li a {
	color: #000;
	font-family: "CatShop";
	font-size: 48px;
}
.img-center {
	margin: 0 auto;
	display: block;
}
.logo {
	width: 140px;
}
.tattoo-autoral {
	position: absolute;
    margin-top: 50px!important;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    width: 95%;
}
.estrela-topo {
	position: absolute;
	top: 185px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    z-index: 10;
    width: 50px;
}
#slide-topo {
	margin-top: 105px;
}
#slide-topo .owl-item img {
	width: 95%;
    margin: auto;
}

.botao {
	background: #333333;
	border: 1px solid #FF8C8C;
	box-sizing: border-box;
	border-radius: 50px;
	text-align: center;
	width: 150px;
	padding: 10px 0px;
	margin: 25px auto;
	display: block;
}
.botao a {
	color: #FCFCFC;
	font-family: "CatShop";
	font-size: 20px;
}
.botao a:focus {
	color: #FCFCFC;
}
.btn-conheca {
	width: 250px;
}

.sobre-mim {
	position: relative;
	height: 550px;
	margin-top: 50px;
	background: #FDE6E6;
    border-radius: 45px;
}
.sobre-mim .botao {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.sobre-mim .circle-law {
	position: absolute;
	top: 50px;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    -webkit-animation: rotating 10s linear infinite;
    transition: 0.8s;
}
.sobre-mim .sobre-law {
	position: absolute;
    top: 150px;
    right: 15px;
    width: 50%;
    transition: 0.8s;
}
.sobre-mim .law-melo {
	position: absolute;
    top: 40%;
    width: 60%;
    transition: 0.8s;
}
.sobre-mim .flecha {
	position: absolute;
	bottom: 0;
	width: 50px;
	transition: 0.8s;
}
.sobre-expande {
	display: none;
}
.sobre-expande h2 {
	color: #000;
	font-family: "CatShop";
	font-size: 48px;
}
.sobre-expande h2 strong {
	color: #FF8C8C;
	font-family: "CatShop";
}
.sobre-expande p {
	color: #000;
}
.sobre-aberta {
	position: relative;
    background: #ffffff;
    margin-top: 0;
    width: 100%;
    height: 650px;
    z-index: 1000;
    margin-top: 20px;
}
.sobre-expande-open {
	background: #ffffff;
	display: block !important;
	z-index: 100;
    position: relative;
    margin-top: 50px;
}
.sobre-mim .law-melo.change {
	top: 0;
	width: 90%;
}
.sobre-mim .sobre-law.change {
	top: 185px;
	left: 0;
    right: 0;
	width: 70%;
    margin: auto;
}
@media (min-width: 320px) and (max-width: 350px) {
	.sobre-mim .circle-law.change {
		top: 65%;
	}
}
@media (min-width: 351px) and (max-width: 399px) {
	.sobre-mim .circle-law.change {
		top: 70%;
	}
}
@media (min-width: 400px) and (max-width: 767px) {
	.sobre-mim .circle-law.change {
		top: 75%;
	}
}
.sobre-mim .flecha.change {
	top: 350px;
	width: 30px;
	transform: rotate(180deg);
}
.texto-autoral p.change {
	display: none;
}
.botao-sobre-mim.change {
	display: none;
}
.hide {
	display: none;
}

h2.frase {
	color: #000;
	font-family: "CatShop";
	font-size: 48px;
	text-align: center;
	padding: 0px 40px;
	margin-top: 80px;
}

.agenda {
	background: #333333;
	padding: 20px 0px;
	text-align: center;
	border-radius: 45px;
	margin-top: 100px;
}
.agenda .img-agenda {
	margin: auto;
    display: block;
	width: 75px;
}
.agenda h2,
.agenda h5 {
	color: #ffffff;
	font-family: "CatShop";
}
.agenda h2 {
	font-size: 48px;
}
.agenda h5 {
	font-size: 95px;
	position: relative;
    top: -20px;
    margin-bottom: 0px;
}
.agenda p {
	color: #ffffff;
	font-size: 18px;
	text-align: left;
	padding: 0px 40px;
}

.cuidados {
	position: relative;
	height: 250px;
	margin-top: 100px;
}
.cuidados .cuidados-texto {
	position: absolute;
	top: 30px;
    width: 60%;
    z-index: 1000;
}
.cuidados .cuidados-tattoo {
	position: absolute;
    right: 15px;
    width: 140px;
}
.cuidados .flecha {
	position: absolute;
	bottom: 0;
	width: 50px;
}
.cuidados-descricao p {
	color: #333333;
	font-size: 18px;
	line-height: 27px;
	padding: 0px 10px;
}
.page-cuidados {
	background: #ffffff;
    z-index: 100;
    position: relative;
}
.page-cuidados .cuidados-texto {
	padding-top: 50px;
	width: 100%;
	z-index: 1000;
	position: relative;
}
.page-cuidados .cuidados-tattoo {
	position: relative;
	top: -70px;
	z-index: 100;
	margin: auto;
	display: block;
}
.page-cuidados .flecha {
	position: absolute;
	top: 350px;
    width: 30px;
    transform: rotate(180deg);
}
.page-cuidados .conteudo-cuidados p {
	color: #000;
	font-size: 18px;
}
.page-cuidados .conteudo-cuidados h5 {
	color: #000;
	font-size: 24px;
	font-weight: bold;
	margin: 40px 0px;
}
.cuidados-open {
	display: block;
}

.depoimentos {
	margin-top: 100px;
}
.depoimentos h2 {
	color: #1E1E1E;
	font-family: "CatShop";
	font-size: 48px;
	margin-bottom: 40px;
}
.depoimentos p span {
	color: #ff8c8c;
}

.scrolltop {
	margin-top: 50px;
}
.scrolltop img {
	width: 65px;
}

footer {
	background: #1E1E1E;
	margin-top: 280px;
	position: relative;
	padding:  50px 0px;
}
footer .estrela-footer {
	width: 100%;
    position: absolute;
    top: -240px;
}
footer .logo-footer {
	width: 100%;
}
footer .redes-sociais ul {
	list-style: none;
	padding: 0px;
	text-align: left;
}
footer .redes-sociais ul li {
	margin: 20px 0px;
}
footer .redes-sociais ul li a {
	color: #ffffff;
	font-size: 13px;
}
footer .redes-sociais ul li img {
	width: 20px;
	margin-right: 5px;
}
.copyright {
	background: #1E1E1E;
	border-top: 1px solid #FCFCFC;
	padding: 20px 0px;
}
.copyright p {
	color: #FCFCFC;
	font-size: 12px;
	text-align: center;
	margin: 0px;
}

.grid-item { width: 50%; }
.grid-item--width2 { width: 100%; }

.page-tatuagens h2.titulo {
	color: #000;
	font-family: "CatShop";
	font-size: 48px;
	position: relative;
}
.page-tatuagens h2.titulo img {
	width: 20%;
    position: absolute;
    top: 20px;
    right: 0;
}
.page-tatuagens .col-tatuagens {
	padding: 5px;
}
.page-tatuagens .filtros h5 {
	color: #1E1E1E;
	font-family: "CatShop";
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
	border: 1px solid #FF8C8C;
	box-sizing: border-box;
	border-radius: 50px;
}

.page-contato h2 {
	color: #000;
	font-family: "CatShop";
	font-size: 48px;
	position: relative;
}
.page-contato .btn-contato a {
	color: #ffffff;
    font-family: "CatShop";
    font-size: 20px;
}
.page-contato .btn-contato h5 {
	background: #333333;
    border: 1px solid #FF8C8C;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    width: 150px;
    padding: 10px 0px;
    margin: 10px auto;
    display: block;
    font-size: 20px;
}



@media(min-width:1200px){
	.navbar-default {
		background-color: transparent !important;
		border: none !important;
		padding: 20px 0px;
	}
	.navbar-default .navbar-nav {
		float: none;
		padding-top: 25px;
		text-align: center;
	}
	.navbar-default .navbar-nav>li {
		margin: 0px 25px;
		display: inline-block;
		float: none;
	}
	.navbar-default .navbar-nav>li>a {
		color: #1E1E1E !important;
		font-family: "CatShop";
		font-size: 18px;
	}
	.navbar-default .logo-header {
		width: 80%;
	}
	.btn-loja {
		margin-top: 35px;
	}
	.btn-loja a {
		color: #1E1E1E;
	    font-family: "CatShop";
	    font-size: 20px;
	    text-align: center;
	    padding: 10px 40px;
	    border: 1px solid #FF8C8C;
	    box-sizing: border-box;
	    border-radius: 50px;
	}
	.btn-loja a:hover {
		color: #1E1E1E !important;
	}
	.desktop .estrela-topo {
		top: 0px;
	}
	.desktop .topo {
		position: relative;
	}
	.desktop .topo h1 {
		color: #1E1E1E;
		font-family: "CatShop";
		font-size: 240px;
		text-align: center;
		position: absolute;
		left: 0;
    	right: 0;
	}
	.desktop .texto-autoral {
		margin-top: 50px;
	}
	.desktop .sobre-mim {
		height: 600px;
	}
	.desktop .sobre-mim .sobre-law {
		width: auto;
		top: 50px;
		left: 0;
		right: 0;
		margin: auto;
	}
	.desktop .sobre-mim .law-melo {
		top: 30%;
	    width: 240px;
	    left: 360px;
	}
	.desktop .sobre-mim .circle-law {
		top: 100px;
	    left: 400px;
	    width: 350px;
	}
	.desktop .sobre-mim .botao {
		bottom: 20px;
	}
	#slide-topo-desktop {
		margin-top: 20px;
	}
	#slide-topo-desktop .owl-item img {
		width: 35%;
		margin: auto;
	}
	.desktop h2.frase {
		font-size: 64px;
		margin: 80px 0px;
	}
	.desktop .agenda {
		margin: auto !important;
		padding: 0px;
		border-radius: 80px;
	}
	.desktop .agenda h2 {
		font-size: 64px;
		margin-top: 50px;
	}
	.desktop .agenda p {
		padding: 0px 125px;
	}
	.desktop .col-img-agenda {
		padding-left: 0px;
	}
	.desktop .col-img-agenda img {
		width: 100%;
	}
	.desktop .cuidados h2 {
		color: #000;
	    font-family: "CatShop";
	    font-size: 64px;
	    margin-top: 50%;
	}
	.desktop .cuidados .botao {
		width: 300px;
		float: left;
	}
	.desktop .cuidados img {
		width: 100%;
	}
	.desktop .depoimentos .owl-stage {
	    left: -50px;
	}
	.footer-desktop .estrela-footer {
		width: 200px;
	    position: absolute;
	    top: -100px;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
	.footer-desktop .logo-footer {
		width: 50%;
		margin-top: 10px;
	}
	.footer-desktop ul {
		list-style: none;
		padding: 0px;
	}
	.footer-desktop .menu-footer {
		text-align: center;
		margin-top: 50px;
	}
	.footer-desktop .menu-footer li {
		display: inline;
		padding: 10px;
	}
	.footer-desktop .menu-footer li a {
		color: #FCFCFC;
	    font-size: 18px;
	}
	.footer-desktop .contato-footer {
		list-style: none;
	    padding: 0px;
	    text-align: left;
	    margin-top: 10px;
	    float: right;
	}
	.footer-desktop .contato-footer li {
		margin: 20px 0px;
	}
	.footer-desktop .contato-footer li a {
		color: #ffffff;
    	font-size: 13px;
	}
	.footer-desktop .contato-footer li img {
		width: 25px;
	}
}